/*General*/
section {
	margin-bottom: 25px;
}


/*Backgrounds*/
.box-dark {
	background: rgba(0,0,0,0.9);
}

/*NOT SURE*/
.btn-login {
	margin-right: 10px;
}

.membertree-table div {
	margin-left: auto;
	margin-right: auto;
	min-height: 50px;
}

.membertree-table div {
	padding:  0 0;
}

